.Collapse-Section {
  display: flex;
  margin: auto;
  margin-top: 10px;
  max-width: 1240px;
  width: 90%;
  justify-content: space-between;
}

.Collapse-section_AboutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  max-width: 1240px;
  width: 90%;
}

.Collapse-section_AboutPage > .Collapse {
  width: 87%;
  margin: auto;
  margin: 15px 0px;
}

.Collapse {
  width: 45%;
  margin-bottom: 50px;
}

.Collapse__title-wrapper {
  display: flex;
  cursor: pointer;
  background-color: #ff6060;
  color: white;
  justify-content: space-between;
  height: 52px;
  border-radius: 10px;
}

.Collapse__title-wrapper > h3 {
  width: 100%;
  height: 20px;
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
  padding: 18px;
}

.Collapse__title-wrapper > img {
  width: 15.56px;
  padding: 18px;
}

.Collapse-open {
  transform: rotate(180deg);
}

.Collapse > p {
  color: #ff6060;
  font-size: 18px;
  font-weight: 400;
  padding: 15px;
  line-height: 25px;
}

.Collapse__equipments__details {
  list-style: none;
  color: #ff6060;
  font-size: 18px;
  font-weight: 400;
  padding: 15px;
  line-height: 25px;
}

@media screen and (max-width: 425px) {
  .Collapse-section_AboutPage > .Collapse {
    width: 100%;
  }
  .Collapse-Section {
    flex-direction: column;
  }
  .Collapse {
    width: 100%;
    margin-bottom: 20px;
  }
  .Collapse__title-wrapper {
    height: 29px;
    border-radius: 5px;
  }
  .Collapse__title-wrapper > h3 {
    font-size: 13px;
    line-height: 18px;
    padding: 5px 11px;
    margin: auto 0px;
  }
  .Collapse__title-wrapper > img {
    width: 15.56px;
    padding: 5px;
  }
  .Collapse > p {
    font-size: 12px;
    line-height: 17px;
    padding: 11px;
    margin: 0px;
  }
  .Collapse__equipments__details {
    font-size: 12px;
    line-height: 17px;
  }
}